---
import MainLayout from "../../layouts/MainLayout.astro";
import Link from "../../components/Link.astro";
---

<MainLayout title="Blog - Shunt">
  <div>
    <p>Coming Soon... </p>
    <p>Checkout my <Link href="https://github.com/terawhiz/CTF-Writeups">CTF writeups</Link> and <Link href="https://github.com/terawhiz/kpwn">Kernel Exploits</Link> repositories.</p>
  </div>
  </div>
</MainLayout>