---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="About - Shunt">
  <div class="prose prose-neutral max-w-lg md:max-w-xl lg:max-w-4xl mx-auto px-4 py-8 text-justify text-foreground">
    Hello Hackers!<br><br>
    I'm Shunt, I also go by `terawhiz` in some places of the internet.
    <br><br>
    I'm figuring out about myself. Please check later.
  </div>
</MainLayout>
