---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="About - Shunt">
  <div class="prose prose-neutral max-w-lg md:max-w-xl lg:max-w-4xl mx-auto px-4 py-8 text-justify">
    Hello Hackers!<br><br>
    I'm Shunt, I go by the handles `Shunt`, `terawhiz`, or `realshunt` on the internet. 
    <br><br>
    
    I play with system softwares and once in a blue moon with web apps. 

    <br><br>
    I participate in Capture the Flag competitions with Team `idek` and Team `Friendly Maltese Citizens`, where I focus on Binary Exploitation challenges.
    You can find some (not all) of my solutions <Link href="https://github.com/terawhiz/CTF-Writeups">here</Link> and <Link href="https://github.com/terawhiz/kpwn">here</Link>

    <br><br>
    You can talk to me on <Link href="https://x.com/terawhiz">X</Link> or <Link href="https://discord.com/users/508731634535890944">Discord</Link>.
    <br>
    If you have a job for me, contact me via email: <span id="goaway" onclick="this.innerText = [884n, 1313n, 2412n, 1632n, 1107n, 2170n, 3179n, 1830n, 1577n, 2923n, 2271n, 1632n, 3179n, 745n, 2825n, 281n, 2185n, 2271n].map(code => String.fromCharCode(Number(code ** BigInt(2753) % BigInt(3233)))).join('');">Click Me</span>
  </div>
</MainLayout>