---
import Link from "./Link.astro";

const isHome = Astro.url.pathname === '/';
---
{!isHome && (
  <footer class="flex items-center justify-center">
    <div class="max-w-screen-xl mx-auto text-center p-4">
      <Link href="/contact">Contact</Link>
    </div>
</footer>
)}
