---
import Link from "./Link.astro";
import NavLink from "./NavLink.astro";
import { NAV_LINKS } from "../consts";

const currentPage = Astro.url.pathname;
---

{
  !(currentPage === "/") && (
    <header class="relative lg:sticky top-0 z-0 flex items-center justify-between py-2 lg:py-4">

      <a href="/" class="logo ml-10 md:ml-6 lg:ml-2">
        <img src="#" alt=":|" id="shunt-logo" class="w-11 h-11 transition-opacity">
      </a>

      <nav class="flex items-center space-x-3 md:space-x-7 lg:space-x-10 pr-6 md:pr-10 lg:pr-14">
        {
          NAV_LINKS.map((item) => (
            <NavLink href={item.href} className={`text-lg ${
              currentPage.replaceAll('/', '') === item.href.replaceAll('/', '') ? "text-foreground" : "text-muted-foreground"
              } select-none`}>{item.label}</Link>
          ))
        }

        <button
          onclick="toggleTheme()"
          class="p-2 rounded-full hover:bg-muted-foreground/30 dark:bg-background/30 transition-colors"
          aria-label="Toggle theme"
        >
          <span id="toggle-icon"></span>
        </button>
      </nav>
    </header>
  )
}
