---
import Header from "./Header.astro"
import Footer from "./Footer.astro"

import "../styles/global.css";

const isHome = Astro.url.pathname === '/';

const {title, } = Astro.props;
---

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    {
      isHome && (<link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet"/>)
    }

    <title>{title}</title>
  </head>
  <body>
    <div class="page flex flex-col min-h-screen">
      { !isHome && <Header /> }
      <main class="flex-grow flex justify-center">
        { !isHome && <div class="max-w-full sm:max-w-2xl md:max-w-3xl lg:max-w-4xl mx-auto p-6"> <slot /> </div>}
        { isHome && <slot /> }
      </main>
      { !isHome && <Footer /> }
    </div>
  </body>
</html>