---
import Header from "./Header.astro"
import Footer from "./Footer.astro"

import "../styles/global.css";

const isHome = Astro.url.pathname === '/';

const {title, } = Astro.props;
---
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    {
      isHome && (<link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet"/>)
    }

    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <Header />
    <main class="flex-grow py-10 flex justify-center">
      <div class="w-full max-w-max px-4">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>