---
import { MoonStar, CloudSun } from "lucide-astro";

import "../styles/global.css"
---


<button 
  id="theme-toggle"
>
  <CloudSun className="light-toggle size-5" />
  <MoonStar className="dark-toggle  size-5" />
</button>